<?xml version='1.0' encoding='utf-8'?>
<widget id="com.foreraa.foreraa" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>4reraa‏</name>
    <description>
        The application of "4reraa" is the new experiment in deliver anything you need into your door.

        Attention: This is the trial version, expect the existence of problems, and we expect your patience, and we glad to contact us on our Facebook account: @ 4reraa

        If you need anything (eat, drinks, papers, spare parts, and everything you can think of), from anywhere? 4reraa will serves you !.

        We working today in Cairo and soon all over Egypt, and our fleet is expanding every day.

        Make your life is easier and request 4reraa, if you need anything from anywhere just request 4reraa, no more traffic trouble just request 4reraa, and one of our Captains will deliver it to your door.

        you can also win if you join to the 4reraa family!
    </description>
    <author email="Customer.care@4reraa.com" href="http://4reraa.com/">
        4reraa‏ Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="https://*4reraa.com/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-battery-status" spec="2.0.2" />
    <plugin name="cordova-plugin-camera" spec="4.0.3" />
    <plugin name="cordova-plugin-media-capture" spec="3.0.2" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-file" spec="6.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="4.0.1" />
    <plugin name="cordova-plugin-globalization" spec="1.11.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />
    <plugin name="cordova-plugin-network-information" spec="2.0.1" />
    <plugin name="cordova-plugin-vibration" spec="3.1.0" />
    <plugin name="cordova-plugin-file-transfer" spec="1.7.1" />
    <plugin name="cordova-plugin-media" spec="5.0.2">
        <variable name="KEEP_AVAUDIOSESSION_ALWAYS_ACTIVE" value="NO" />
    </plugin>
    <plugin name="cordova-plugin-x-socialsharing" spec="5.4.4" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="5.0.2">
        <variable name="GOOGLE_API_KEY_FOR_ANDROID" value="AIzaSyAQEddaDk0teVRCde15IqYQrrl0vMilKXo" />
        <variable name="LOCATION_USAGE_DESCRIPTION" value="This app requires access to your location for navigation purposes" />
    </plugin>
    <plugin name="com-sarriaroman-photoviewer" spec="1.2.0" />
    <plugin name="cordova-plugin-request-location-accuracy" spec="2.2.3" />
    <plugin name="cordova-open-native-settings" spec="1.5.2" />
    <plugin name="cordova-plugin-x-toast" spec="2.7.2" />
    <plugin name="cordova-plugin-keyboard" spec="1.2.0" />
    <plugin name="cordova-plugin-fcm" spec="2.1.2" />
    <plugin name="cordova-plugin-local-notification" spec="0.9.0-beta.2" />
    <engine name="ios" spec="^4.5.5" />
</widget>
